<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyBanVeChuyenBay.Properties.Settings.QUANLYBANVECHUYENBAYConnectionString"
            connectionString="Data Source=LAPTOP-NKLEA02K\TRUONGGIANG15;Initial Catalog=QUANLYBANVECHUYENBAY;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>